*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    font-family: 'Roboto', sans-serif;
}


.body{
    font-family: 'Roboto', sans-serif;
}
.cabecera{
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    height: 120px;
    background-color:black;
    position:sticky;
    z-index: 10;
    top: 0;
    left: 0;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



.contenedor{
    max-width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.navegacion{
    min-width: 50%;

}

.ul{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
   
}

.enlace{
    color:white;
    text-decoration: none;
    font-size: 20;
    font-weight: 400;

   
}

.hero{
    height: 300px;
    width: 100%;
    background-image: url(../Imagenes/WhatsApp\ Image\ 2021-10-18\ at\ 13.50.36.jpeg);
    background-size:contain;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.titulo__elige{

    display: flex;
    justify-content: center;
    align-items:center;
    padding: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400 px;
    font-size: 40;
}

.muestra{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 500px;
    padding: 16px;
    gap: 16px;
    background-color: white;
    
}

.imagen_1{

    width: 20%;
    padding: 30px;
    margin-bottom: 30px;
}

.imagen_2{

    width: 30%;
    padding: 30px;
    margin-bottom: 30px;
}

.video_institucional{

    width: 30%;
    padding: 30px;
    margin-bottom: 30px;
}

.producto{
    padding-top: 64px;
    padding-bottom: 64px;
}

.card-title{
    text-align: center;
    font-family: initial;
    color: lightcoral;
    font-size: 25px;
}

.card-text{
    text-align: center;
    font-family: initial;
    color: black;
    font-size: 21px;
}



.titulo_producto{
    font-family: cursive;
    font-weight: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.donde_encontrarnos{
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
    
}
.formulario{
    padding-top: 20px;
    padding-bottom: 20px;

}

.footer {

    background-color:black;
    height: 360px;
    color: white;
    font-size: 20;
    font-weight: 400;
}

.enlace_footer{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.malaika{
    display:flex;
    justify-content: center;
    
}

.malaika_show{

    display: flex;
    padding: 16px;
    font-weight: 100;

}

.caja_footer{

    display: flex;
    justify-content: space-around;
    flex-direction: row;
}



.titulo_seguinos{
    
    font-weight: 100;
    font-size: 20px;
    
}

.contactanos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: 100;
}

.logos_tarjetas{

    display: flex;
    justify-content: space-evenly;
}

.whatsapp{
    
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 1000;
    background-color: green;
    color: white;
    border-radius: 50px;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 30px;
    
}

.derechos{
    display: flex;
    justify-content: center;
    font-family:'Roboto', sans-serif;
    font-weight: 100;
    padding: 15px;

}

/*ESTILOS DE PAGINA LOGIN*/

.main_login{

    background-color: burlywood;
}